.container {
    width: 600px;
}

.WB_widget, .WB_widget *, .WB_widgets * {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;   
}

code {
word-wrap: break-word;
display: inline-block;
white-space: normal;
}
