.container {
    width: 750px;
    padding: 15px 0px;
}

.WB_widget, .WB_widget *, .WB_widgets * {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;   
}

code {
word-wrap: break-word;
white-space: normal;
}

.ellipsis {
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
}
