---
layout: default
title: commandlinefu.cn
---

<div class="list-group">
    {% for post in paginator.posts %}
    <a href="{{ post.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ post.title }}</h4>
        <p class="list-group-item-text">
        <code>
        {{ post.command }}
        </code>
        </p>
    </a>
    {% endfor %}
  </ul>
</div>


{% if paginator.total_pages > 1 %}
<ul class="pager">

  {% if paginator.previous_page %}
    <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 上一页</a></li>
  {% else %}
    <li class="previous disabled"><a href="javascript:;">&larr; 上一页</a></li>
  {% endif %}

  {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a></li>
  {% else %}
    <li class="next disabled"><a href="javascript:;">下一页 &raquo;</a></li>
  {% endif %}

</ul>
{% endif %}
