commandlinefu_id: 12917
translator:
  weibo: tgic
command: |-
  complete -o default -o nospace -W "$(grep -i -e '^host ' ~/.ssh/config | awk '{print substr($0, index($0,$2))}' ORS=' ')" ssh scp sftp
summary: |-
  给ssh加上 autocomplete (从 .ssh/config 中查找)
